{% block javascripts %}

<script src="{{ asset('bundles/concursomenus4all/vendors/js/jquery-1.8.2.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/concursomenus4all/vendors/js/jquery.json-2.3.js') }}" type="text/javascript"></script>
{% endblock %}


Hello {{ receta }}!
<div id="pruebajson" ></div>
<script type="text/javascript">
    $(document).ready(function(){
       
        var thing = {nombre: 'jquery', descripcion: 'cocinemos con jquery', n_personas: '3'};
        var encoded = $.toJSON( thing );
        jQuery.ajax({
            type:'POST',
            dataType:'json',
            data:{
                json: encoded
            },
            success:function(data, textStatus){
                jQuery('#pruebajson').html(data.success.message);
            },
            error: function(jqXHR, textStatus, errorThrown){            
                data = jQuery.parseJSON(jqXHR.responseText);
                jQuery('#pruebajson').html(data.error.message);
            },
            url: '{{ url('cm4all_recetas_post') }}'
        });
    });
</script>