<script type="text/template" id="plantillaRecetaList">
    <div class="page-header">
        <h2>Lista de Recetas <small>filtrando por: blalbabla, blablsf, asdeeif...</small></h1>
    </div>
    <% _.each(recetas, function(receta){ %>
    <div id="receta_<%= receta.id %>">
        <h4 ><%= receta.nombre %></h3>
            <p>La receta está pensada para: <%= receta.n_personas %></p>
            <p><%= receta.descripcion %></p>
            <a  class="btn "><i class="icon-eye-open"></i> Ver</a>
            <a class="btn btn-info editarReceta" val="<%= receta.id %>"><i class="icon-white icon-pencil"></i> Editar</a>
    </div>
    <hr class="bs-docs-separator">
    <%}); %>
</script>

<script type="text/template" id="plantillaRecetaOpciones">
        <p><a id="nuevaReceta" class="btn btn-success"><i class="icon-white icon-plus-sign"></i> Nueva Receta</a></p>
        <p><a id="buscarRecetas" class="btn btn-info"><i class="icon-white icon-search"></i> Buscar Recetas</a></p>
</script>

<script type="text/template" id="plantillaRecetaForms">
    <form class="form-horizontal">
        <fieldset>
            <div id="legend" class="">
                <legend class=""><%= data.nombreForm %></legend>
            </div>
                
            <div class="control-group">
                <!-- Text input-->
                <label class=" control-label required" for="receta_nombre"> Nombre </label>
                <div class="controls">
                    <input class="receta_nombre" type="text" required="required" value=<%= data.receta.nombre %> >
                </div>
            </div>

            <div class="control-group">
                <!-- Text input-->
                <label class=" control-label required" for="receta_n_personas"> Comensales </label>
                <div class="controls">
                    <input class="receta_n_personas" type="text" required="required" value=<%= data.receta.n_personas %>>
                </div>
            </div>
                
            <div class="control-group">
                <!-- Text input-->
                <label class=" control-label required" for=""> Ingredientes: </label>
                <div class="controls">
                    <a id="anadirIngrediente" class="btn btn-primary"><i class="icon-white icon-plus-sign"></i></a>
                    <div id="ingredientes"></div>
                </div>
            </div>

            <div class="control-group">
                <!-- Textarea -->
                <label class=" control-label required" for="receta_descripcion"> Descripción </label>
                <div class="controls">
                    <div class="textarea">
                        <textarea class="receta_descripcion span7" rows="6" required="required"><%= data.receta.descripcion %></textarea>
                    </div>
                </div>
            </div>

            <div class="control-group">
                <!-- Form Actions -->
                <div class="form-actions">
                    <a id="<%= data.idAccion %>" type="submit" class="btn btn-primary">Save changes</a>
                    <button type="button" class="btn">Cancel</button>
                </div>
            </div>
                
        </fieldset>
    </form>
</script>

<script type="text/template" id="plantillaIngredientes">
        <input id="ingrediente_<%= id %>"class="receta_ingrediente_nombre span2" placeholder="Nombre..." type="text" required="required">
        <div class="input-append ">
              <input id="cantidad_<%= id %>" class="span4" placeholder="Cantidad..." type="text" required="required">
              <span class="add-on">gr.</span>
        </div>
</script>