<div>
    <div id="zonaRecetas" class="well pull-left"><a href=""><i class="icon-home"></i></a></div>
    <div class="well pull-left"><a href=""><i class="icon-user"></i> </a></div>
    <div class="well pull-left"><a href=""><i class="icon-comment"></i> </a></div>
    <div class="well pull-left"><a href=""><i class="icon-share"></i> </a></div>
</div>