{% extends 'ConcursoMenus4AllBundle::layout.html.twig' %}

{% block cuerpo %}
<div id="seccionRecetas">
    <div id="opcionesRecetas" class="span2">
        <p><a id="nuevaReceta" class="btn btn-success"><i class="icon-white icon-plus-sign"></i> Nueva Receta</a></p>
        <p><a id="buscarRecetas" class="btn btn-info"><i class="icon-white icon-search"></i> Buscar Recetas</a></p>
    </div>


    <div id="vistasRecetas" class="span10">
        <div id="formNuevaReceta">

        </div>

        <div id="formEditarReceta">

        </div>

        <div id="listaRecetasBusqueda">

        </div>
    </div>
</div>
{% endblock %}


