{% extends 'ConcursoMenus4AllBundle::layout.html.twig' %}

{% block cuerpo %}
<div id="opcionesRecetas">
    <a id="anadirReceta" class="btn btn-success">Añadir Receta</a>
    <a id="editarReceta" class="btn btn-success">Editar Receta</a> 
    <a id="buscarRecetas" class="btn btn-success">Buscar Recetas</a> 
</div>



<div id="formNuevaReceta" style="display:none">

</div>

<div id="formEditarReceta" style="display:none">
   
</div>
<div id="listaRecetasBusqueda">
    
</div>
<script type="text/javascript">    
$(document).ready(function(){
    $('#anadirReceta').click(function(){
        $('#formNuevaReceta').show();
    });
    
     $('#editarReceta').click(function(){
        $('#formEditarReceta').show();
    });

    $('#erroresReceta').hide();
    $('#exitosReceta').hide();
});

var recorreNotificaciones = function (coleccionMensajes){
    var txt = '';
    for each (var mensajesCampo in coleccionMensajes){
        for each (var mensaje in mensajesCampo){
            txt = txt + '<li>'+mensaje+'</li>';
        }
    }
    return txt;
};
</script>
{% endblock %}


